// general process options
process {
    executor = 'sge'
    penv = 'mthread'
    cpus = 1
    clusterOptions = "-l mres=32G,h_data=32G,h_vmem=32G,himem -S /bin/bash -l s_cpu=24:00:00"
}

// Pipeline parameters
params {
    publishDir = "${launchDir}/QC_results"
    preprocess {
        executor = process.executor
    }
    pre_fastqc {
        executor = process.executor
    }
    fastp {
        executor = process.executor
    }
    post_fastqc {
        executor = process.executor
    }
    multiqc {
        executor = process.executor
    }
}
